<div class="container signup h-100">
    <%= form_with model: @user, local: true, class:"shadow p-4 border" do |form| %>
        <h1 class="display-4">Meet People</h1>
        <div class="form-group <%= 'invalid' if @user.errors.has_key?(:first_name) %>">
            <%= form.label :first_name, class: "control-label font-weight-bold" %>
            <%= form.text_field :first_name, class: "form-control", placeholder: "Samus"%>

            <% @user.errors.full_messages_for(:first_name).each do |message| %>
                <small class="form-text"> <%= message %> </small>
            <% end %>
        </div>

        <div class="form-group <%= 'invalid' if @user.errors.has_key?(:last_name) %>">
            <%= form.label :last_name, class: "control-label font-weight-bold" %>
            <%= form.text_field :last_name, class: "form-control", placeholder: "Aran"%>

            <% @user.errors.full_messages_for(:last_name).each do |message| %>
                <small class="form-text"> <%= message %> </small>
            <% end %>
        </div>

        <div class="form-group <%= 'invalid' if @user.errors.has_key?(:email) %>">
            <%= form.label :email, class: "control-label font-weight-bold" %>
            <%= form.email_field :email, class: "form-control", placeholder: "bounty@hunter.com"%>

            <% @user.errors.full_messages_for(:email).each do |message| %>
                <small class="form-text"> <%= message %> </small>
            <% end %>
        </div>

        <div class="form-group <%= 'invalid' if @user.errors.has_key?(:password) %>">
            <%= form.label :password, class: "control-label font-weight-bold" %>
            <%= form.password_field :password, class: "form-control", placeholder: "6 or more characters"%>

            <% @user.errors.full_messages_for(:password).each do |message| %>
                <small class="form-text"> <%= message %> </small>
            <% end %>
        </div>

        <%= form.submit "Sign Up", class: "shadow btn btn-primary btn-lg btn-round"%>
    <% end %>
</div>